<div class="container">
  <h2>Users</h2>

  <%= form_tag new_allocate_path, id: 'edit-form', remote: true, method: :get do %>
    <p class="alert-js ra-error"></p>
    <p>
      <% if current_user.has_role? :distributor %>
        <%= submit_tag 'Allocate Money', id: 'allocate', class: "btn btn-success" %>
      <% end %>
    </p>
    <table class="table table-bordered">
      <tr>
        <th><input type="checkbox" id="check-all"></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Balance</th>
        <th>Withdraw</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= check_box_tag "users_ids[]", user.id, false, class: "check-box" %></td>
          <td><%= link_to user.first_name, allocations_path(user.id), remote: true %></td>
          <td><%= user.last_name %></td>
          <td><%= user.user_balance  %></td>
          <td><%= link_to 'Withdraw Money', new_withdraw_path(user), remote: true %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel"></div>