<h2>My Campaigns</h2>
<div class="pull-right">
  <% if current_user.has_role? :admin %>
    <span><%= link_to 'Users', users_path, class: "btn btn-default" %></span>
  <% end %>

  <% if current_user.has_role? :banker %>
    <span><%= link_to 'Bankers Page', transactions_path, class: "btn btn-default" %></span>
  <% end %>
</div>
<% if @campaigns_count == 0 %>
  <div class="no-campaigns text-center">
    <p><strong>You have no active campaigns currently running</strong></p>
  </div>
<% else %>
  <%= render 'campaigns' %>

  <div class="col-md-12 text-right" >
    <%= link_to "View all #{@campaigns_count} Campaigns", my_campaigns_path  %>
  </div>
<% end %>
<% if current_user.has_role? :banker %>
  <h3>Banking transactions</h3>
  <% if @transactions.count ==0 %>
    <div class="no-campaigns text-center">
      <p><strong>0 banking transactions </strong></p>
    </div>
  <% else %>
    <%= render 'transactions' %>
  <% end %>
  <div class="col-md-12 text-right" >
    <%= link_to "See full banking history", transactions_path  %>
  </div>
<% end %>
