<div class="col-md-4 current-campaigns">
  <div class="needs">
    <strong>Needs:</strong> $<%= campaign.needed %><br>
    <strong>Raised:</strong> $<%= campaign.raised %><br>
  </div>
  <div class="campaign-title">
    <h5><%= link_to campaign.title, campaign %></h5>
  </div>
  Deadline: <%= campaign.deadline %><br><br>
  <div class="campaign-description">
    <%= campaign.truncate_description %>
  </div>
  <br>
</div>