<div class="col-md-4 current-campaigns">

  <div id="img-preview">
    <%= link_to(campaign) do %>
      <img src="<%= campaign.youtube_static_image %>" alt="campaign_thumbnail" width="348" >
    <% end %>
  </div>

  <div class="current-campaigns-inside">
    <div class="needs">
      <% if campaign.needed == campaign.raised %>
        <strong>100% Funded</strong>
      <% else %>
        <strong>Needs:</strong> $<%= campaign.needed %><br>
        <strong>Raised:</strong> $<%= campaign.raised %><br>
      <% end %>
    </div>
    <div class="campaign-title">
      <h5><%= link_to campaign.title, campaign %></h5>
    </div>
    Deadline: <%= campaign.deadline %><br><br>
    <div class="campaign-description">
      <%= campaign.truncate_description %>
    </div>
  </div>
  <br>
</div>