<div class="container form-horizontal">
  <%= form_for @campaign do |f| %>
    <% if @campaign.errors.any? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @campaign.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :title %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :title, class: "text-field form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <div class="col-sm-4 control-label">
          <%= f.label :deadline, 'Funding Deadline' %>
        </div>

        <div class="col-sm-6">
          <%= f.text_field :deadline, class: "text-field datepicker form-control input-group-lg reg-name" %>
        </div>
      </div>


      <div class="form-group col-sm-6">
        <div class="col-sm-6 control-label">
          <%= f.label :amount, 'How much do you need to raise?' %>
        </div>

        <div class="col-sm-5">
          <%= f.text_field :amount, class: "text-field form-control input-group-lg reg-name" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :description %>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :description, class: "text-area form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :youtube_url, 'YouTube URL' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :youtube_url, class: "text-field form-control" %>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-4">
        <% if @campaign.persisted? %>
          <%= link_to 'Delete Campaign', @campaign, method: :delete,
                      data: { confirm: 'Are you sure you want to delete this campaign? This action cannot be reversed. '} %>
        <% end %>
      </div>
      <div class="col-sm-7">
        <%= f.submit class: "btn btn-default submit-button pull-right" %>
      </div>
    </div>

  <% end %>
</div>