<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= @campaign.uppercase_title %></h1>
      <% if user_signed_in? && current_user == @campaign.user%>
        <p><%= link_to 'Edit Campaign', edit_campaign_path %></p>
      <% end %>
      <p><i><%= "Created by: #{@campaign.user_name}" %></i></p>
      <p><i><%= "Funding Deadline: #{formatted_date(@campaign.deadline, '/')}" %></i></p>
    </div>
    <div class="col-lg-7 description" >
      <p><%= "#{@campaign.description}" %></p>
    </div>
    <div class="col-lg-5">
      <div>
        <%= form_tag new_campaign_support_path(@campaign), remote: true, method: :get do %>
          <%= hidden_field_tag "campaign_id", @campaign.id %>
          <%= submit_tag '$ Support!', id: 'support', class: "btn btn-success" %>
        <% end %>
      </div>
      <div>
        <p><%= "Needs: $#{@campaign.needed}" %></p>
        <p><%= "Raised: $#{@campaign.raised}" %></p>
      </div>
      <div class="video-container">
        <iframe width="560" height="315" src="<%= @campaign.embedded_youtube_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel"></div>
</div>