<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body text-center">
      <h5>Transaction history for <%= @user.name%></h5>
      <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>Transaction Type</th>
          <th>Description</th>
          <th>Amount</th>
          <th>By</th>
        </tr>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.formatted_date %></td>
            <td><%= transaction.transaction_type  %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.user.name %></td>
          </tr>
        <% end %>
      </table>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>