<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Bank</h1>
    </div>
    <div class="col-md-7">
      <span>System Balance: <%= number_to_currency @balance %> </span>
    </div>
    <div class="col-md-5">
      <div class="pull-right">
        <%= link_to "Deposit $", new_deposit_path, remote: true, class: "btn btn-default waves-effect waves-light"  %>
        <%= link_to "Withdraw $", new_withdrawal_path, remote: true, class: "btn btn-default"  %>
      </div>
    </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Transaction Type</th>
        <th>Description</th>
        <th>Amount</th>
        <th>By</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.posted_at %></td>
          <td><%= transaction.transaction_type  %></td>
          <td><%= transaction.description  %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.name %></td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel"></div>
</div>