<!DOCTYPE html>
<html>
<head>
  <title>Rando</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Andonation", root_path, class: 'navbar-brand' %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Add Campaign", new_campaign_path, class: 'btn btn-default' %></li>
          <li><%= link_to "My Andonation", root_path, class: 'nav-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to "Login", user_omniauth_authorize_path(:google_oauth2), class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if notice %>
  <p class="alert"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>